.example-box {
    background-color: #f9f9f9;
    padding: 2rem;
    border-radius: 8px;
    margin-bottom: 2rem;
    border: 1px solid #eee;
}

pre {
    background-color: #2d2d2d;
    color: #ccc;
    padding: 1rem;
    border-radius: 8px;
    overflow-x: auto;
    margin-top: 1rem;
}

code {
    color: #efefef;
}