.is-divider,
.is-divider-vertical {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
  text-align: center;
  --divider-border-color: var(--bulma-text-soft);
  --divider-thickness: 0.1rem;
  --divider-color: var(--bulma-text-soft);
  --divider-font-size: init.$size-7;
  --divider-content-background-color: var(--bulma-scheme-main);
}
.is-divider.is-white,
.is-divider-vertical.is-white {
  --divider-border-color: var(--bulma-white);
  --divider-color: var(--bulma-white);
}
.is-divider.is-black,
.is-divider-vertical.is-black {
  --divider-border-color: var(--bulma-black);
  --divider-color: var(--bulma-black);
}
.is-divider.is-light,
.is-divider-vertical.is-light {
  --divider-border-color: var(--bulma-light);
  --divider-color: var(--bulma-light);
}
.is-divider.is-dark,
.is-divider-vertical.is-dark {
  --divider-border-color: var(--bulma-dark);
  --divider-color: var(--bulma-dark);
}
.is-divider.is-text,
.is-divider-vertical.is-text {
  --divider-border-color: var(--bulma-text);
  --divider-color: var(--bulma-text);
}
.is-divider.is-primary,
.is-divider-vertical.is-primary {
  --divider-border-color: var(--bulma-primary);
  --divider-color: var(--bulma-primary);
}
.is-divider.is-link,
.is-divider-vertical.is-link {
  --divider-border-color: var(--bulma-link);
  --divider-color: var(--bulma-link);
}
.is-divider.is-info,
.is-divider-vertical.is-info {
  --divider-border-color: var(--bulma-info);
  --divider-color: var(--bulma-info);
}
.is-divider.is-success,
.is-divider-vertical.is-success {
  --divider-border-color: var(--bulma-success);
  --divider-color: var(--bulma-success);
}
.is-divider.is-warning,
.is-divider-vertical.is-warning {
  --divider-border-color: var(--bulma-warning);
  --divider-color: var(--bulma-warning);
}
.is-divider.is-danger,
.is-divider-vertical.is-danger {
  --divider-border-color: var(--bulma-danger);
  --divider-color: var(--bulma-danger);
}

.divider-content {
  color: var(--divider-color);
}

.is-divider {
  border-top: var(--divider-thickness) solid var(--divider-border-color);
  height: var(--divider-thickness);
}
.is-divider:has(.divider-content) {
  border-top: none;
}
.is-divider:has(.divider-content)::before {
  content: "";
  border-top: var(--divider-thickness) solid var(--divider-border-color);
  height: var(--divider-thickness);
  width: 100%;
}
.is-divider:has(.divider-content)::after {
  content: "";
  border-top: var(--divider-thickness) solid var(--divider-border-color);
  height: var(--divider-thickness);
  width: 100%;
}
.is-divider .divider-content {
  display: inline-block;
  font-size: var(--divider-font-size);
  padding: 0.4rem 0.8rem;
}

.is-divider-vertical {
  display: block;
}
@media screen and (min-width: 769px), print {
  .is-divider-vertical {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    margin: 0;
    min-height: 2rem;
    border-top: none;
    border-left: var(--divider-thickness) solid var(--divider-border-color);
  }
  .is-divider-vertical:has(.divider-content) {
    border-left: none;
  }
  .is-divider-vertical:has(.divider-content)::before {
    content: "";
    border-left: var(--divider-thickness) solid var(--divider-border-color);
    width: var(--divider-thickness);
    height: 100%;
  }
  .is-divider-vertical:has(.divider-content)::after {
    content: "";
    border-left: var(--divider-thickness) solid var(--divider-border-color);
    width: var(--divider-thickness);
    height: 100%;
  }
  .is-divider-vertical .divider-content {
    padding: 0.2rem 0.5rem;
  }
}

/*# sourceMappingURL=divider.css.map */
