@use "sass:map";
@use "sass:meta";
// Import only the variables/functions without triggering CSS output
@use "bulma/sass/utilities/derived-variables" as vars;
@use "bulma/sass/utilities/initial-variables" as init;
@use "bulma/sass/utilities/mixins";

$pageloader-opacity: 1 !default;

@mixin keyframes($name) {
  @keyframes #{$name} {
    @content;
  }
}

.pageloader {
  @include mixins.overlay;
  position: fixed;
  padding-top: 2em;
  --loader-main-color: var(--bulma-scheme-main);
  --loader-text-color: var(--bulma-text);
  background-color: var(--loader-main-color);
  z-index: 999998;
  transition: transform 0.35s ease-out;
  will-change: transform;
  
  &:not(.is-left-to-right):not(.is-right-to-left):not(.is-bottom-to-top) {
    transform: translateY(-100%);
  }

  &.is-bottom-to-top {
    transform: translateY(100%);
  }

  &.is-left-to-right {
    transform: translateX(-100%);
  }

  &.is-right-to-left {
    transform: translateX(100%);
  }

  &.is-active {
    transform: translate(0, 0) !important;
  }

  @each $name, $components in vars.$colors {
    &.is-#{$name} {
      --loader-main-color: var(--bulma-#{$name});
      --loader-text-color: var(--bulma-#{$name}-invert);
    }
  }

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    border-radius: 100%;
    content: '';
    z-index: 9999;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    box-sizing: border-box;
    border: 0 solid var(--loader-text-color);
    animation: loader-figure 1.15s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  .title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    margin: 2em 0 0 0;
    font-size: 0.875em;
    letter-spacing: 0.1em;
    line-height: 1.5em;
    color: var(--loader-text-color);
    white-space: nowrap;
  }
}

@include keyframes(loader-figure) {
  0% {
    height: 0;
    width: 0;
    background-color: var(--loader-text-color);
  }
  29% {
    background-color: var(--loader-text-color);
  }
  30% {
    height: 2em;
    width: 2em;
    background-color: transparent;
    border-width: 1em;
    opacity: 1;
  }
  100% {
    height: 2em;
    width: 2em;
    border-width: 0;
    opacity: 0;
    background-color: transparent;
  }
}
