@use "bulma/sass/utilities/derived-variables" as vars;
@use "bulma/sass/utilities/initial-variables" as init;

.timeline {
  display: grid;
  grid-template-columns: [center-line] max-content [right-side] 1fr;
  gap: 1rem;
  --timeline-line-color: var(--bulma-text);
  --timeline-icon-color: var(--bulma-scheme-main);
  position: relative;

  &::before {
    content: "";
    grid-column: center-line;
    grid-row: 1 / span 99999999; 
    justify-self: center;
    width: 2px;
    background-color: var(--timeline-line-color);
    z-index: 1;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    position: absolute;
    height: calc(100% - 3rem);
  }
  
  .timeline-header {
    grid-column: center-line;
    word-wrap: normal;
    text-align: center;
    display: flex;
    justify-content: center;
    z-index: 2;
  }

  .timeline-item {
    grid-column: 1 / -1; 
    display: grid;
    grid-template-columns: subgrid;
    z-index: 2;
    
    .timeline-marker {
      grid-column: center-line;
      grid-row: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 2rem;
  
      @each $name, $color in vars.$colors {
        &.is-#{$name} {
          --timeline-line-color: var(--bulma-#{$name});
          --timeline-icon-color: var(--bulma-#{$name}-invert);
        }
      }

      &:not(:has(.icon)):not(:has(.image))::after {
        content: "";
        width: 1rem;
        height: 1rem;
        border-radius: 50%;
        background-color: var(--timeline-line-color);
        border: 2px solid var(--timeline-line-color);
      }

      .image {
        background-color: var(--timeline-line-color);
        border: 0px solid var(--timeline-line-color);
        border-radius: init.$radius-rounded;
      }
      .icon {
        height: 2rem;
        width: 2rem;
        background-color: var(--timeline-line-color);
        color: var(--timeline-icon-color);
        border: 0px solid var(--timeline-line-color);
        border-radius: init.$radius-rounded;
      }

    }
    
    .timeline-content {
      grid-column: right-side;
      grid-row: 1;
      margin: 0.5rem;
      .heading {
        font-weight: init.$weight-semibold;
      }
    }
  }

  &.is-center{
    grid-template-columns: [left-side] 1fr [center-line] max-content [right-side] 1fr; 

    .timeline-item {
      &:nth-of-type(even) {
        .timeline-content {
          grid-column: left-side;
          text-align: right;
        }
      }
      &:nth-of-type(odd) {
        .timeline-content {
          grid-column: right-side;
          text-align: left;
        }
      }

    }
  }
  &.is-right{
    grid-template-columns: [left-side] 1fr [center-line] max-content; 
    .timeline-item {
      .timeline-content {
        grid-column: left-side;
        text-align: right;
      }
    }
  }

}